{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block _contact %}
<a href="http://strizhkianapa.ru/">Версия сайта для ПК</a>
        <div class="media1" style="margin-left: 0px; margin-top: 20px; margin-left: 20px">
            {% for i in human_2 %}
            {% if i.id == 43 %}
            <img src="{{i.photo.url}}" class="mr-30" width="560" height="420" alt="Photo">
            {% endif %}
            {% endfor %}

        </div>
        <div class="media-body1" style="margin-left: 20px">
            <h1 style='background-color: #004d00; margin-top: 20px; color: white'> &#9986; &nbsp; &nbsp; &nbsp; &nbsp; Наши контакты: &nbsp; &nbsp;  &nbsp; &nbsp; &#9986;</h1>
            <a href="tel:+79186436058" style='color: #004d00; text-align: center'><h5> +7(918)-643-60-58 </h5> </a>
            <div class="cont" style='color: #004d00; text-align: center'> <h8> (мужские стрижки) </h8></div>
<!--            <h8 style='color: blue; text-align: center'> (мужские стрижки) </h8>-->
            <div class="cont" style='color: #cc0066; text-align: center'>
                <a href="tel:+79186689910" style='color: #cc0066;'><h7> +7(918)-668-99-10 </h7> </a>
                или
                <a href="tel:+79181313946" style='color: #cc0066;'><h7> +7(918)-131-39-46 </h7> </a>
            </div>
            <div class="cont" style='color: #cc0066; text-align: center'> <h8> (женские стрижки) </h8></div>

            <div class="cont" style='color: #004d00; text-align: center'>
                <a href="tel:+79385014528" style='color: #004d00;'><h7> +7(938)-501-45-28 </h7> </a>
                или
                <a href="tel:+79184709841" style='color: #004d00;'><h7> +7(918)-470-98-41 </h7> </a>
            </div>
            <div class="cont" style='color: #004d00; text-align: center'> <h8> (маникюр и педикюр) </h8></div>

            <div class="list">
                    <h5 style='color: #004d00; text-align: center'> Работаем по предворительной записи </h5>
            </div>
            {% for i in human_2 %}
            {% if i.id == 31 %}
            <span class="badge rounded-pill" style='background-color: #cc0066;'>
            <img src="{{i.photo.url}}" class="mr-31" width="90" alt="Photo">
            </span>
            {% endif %}
            {% endfor %}
            <h1 style='background-color: #004d00; margin-top: 5px; color: white;'>&#9986; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Наш адрес: &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &#x2702;</h1>
            <h5 style='color: #004d00; text-align: center'>г. Анапа, ул Ленина, д.195, 3 подъезд, цоколь (вход со двора) </h5>
        </div>
        <div class="media2" style="margin-left: 20px">
            <iframe src="https://www.google.com/maps/d/embed?mid=11oYve_Th26AQAqjRHuipZvm08REVax0&ehbc=2E312F" width="550" height="420" style="margin-top: 20px;"></iframe>
        </div>
    {% endblock %}

{% block sidebar %}
    {% include 'inc/_sidebarhome.html' %}
{% endblock %}

{% block content %}

<div class="media" style="display: flex">
    <div class="media-body">
        {% for i in page_obj.object_list %}
        {% comment %}
        {% for i in human %}
        {% endcomment %}
        <div class="card mb-3" style='background-color: #ebe4ab;'>
            <h5 class="card-title {% cycle 'text-primary' 'text-success' 'text-danger' %}">Визитка:</h5>
            <div class="media" style="display: flex">
                <div class="media-photo">
                    {% if i.photo %}
                    <img src="{{ i.photo.url }}" class="mr-3" width="550" alt="Photo">
                    {% else %}
                    <h6> Фото нет </h6>
                    {% endif %}
                </div>
                <div class="media-body" style="margin-left: 20px">
                    {% autoescape off %}
                    <h2 class="card-title {% cycle 'text-primary' 'text-success' 'text-danger' %}">{{i.Name}}</h2>
                    <p class="card-text ">Телефон: {{i.age}} </p>
                    <p class="card-text ">
                        {% if i.biography %}
                    <h6> Специализация: </h6>{{i.biography|truncatewords:120}}</p>
                    {% else %}
                    <h6> Специализация: нет </h6>
                    {% endif %}
                    {% endautoescape %}
                    <a href="{{i.get_absolute_url }}" class="btn btn-primary">Подробнее ...</a>
                </div>
            </div>

            <div class="card-footer text-body-secondary" style='background-color: #c8ecca'>
                Профессия: <a href="{{i.profession.get_absolute_url }}"> {{i.profession.title}} </a>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="media00" style="margin-left: 20px">
        {% for i in human_2 %}
            {% if i.id == 38 %}
            <img src="{{i.photo.url}}" class="mr-3" width="550" height="680" alt="Photo">
          {% endif %}
            {% if i.id == 41 %}
            <img src="{{i.photo.url}}" class="mr-3" width="550" height="680" alt="Photo" style="margin-top: 20px;">
            {% endif %}

            {% endfor %}
    </div>
</div>
{% endblock %}
