{% extends 'base.html' %}

{% block title %}
    Анапа {{human_i.profession.title}} {{human_i.Name}}
{% endblock %}

{% block description %}
<meta name="description" content="Салон красоты по адресу: г. Анапа, ул. Ленина, д.195, 3 подъезд, цоколь (вход со двора). Специалист: {{human_i.Name}}, профессия: {{human_i.profession.title}} (Работаем по предварительной записи!)"/>
{% endblock %}
{% block sidebar %}
    {% include 'inc/_sidebarhome.html' %}
{% endblock %}

{% block content %}
<div class="card mb-3" style='background-color: #ebe4ab; width: 60%'>
    <div class="card-header" style='color: blue;'>
        Визитка:
    </div>
    <div class="media" style="display: flex">
         {% autoescape off %}
        <div class="media-photo">
            {% if human_i.photo %}
            <img src="{{ human_i.photo.url }}" class="mr-3" width="350" alt="визитка парикмахера, мастера маникюра и педикюра">
            {% else %}
            <h6> Фото нет </h6>
            {% endif %}
        </div>
        <div class="media-body" style="margin-left: 20px; color: #004d00;">
            <h2 class="card-title">{{human_i.Name}}</h2>
            <p class="card-text">Телефон: {{human_i.age}}</p>
            <p class="card-text ">
                {% if human_i.biography %}
            <h6> Специализация: </h6>{{human_i.biography}}</p>
            {% else %}
            <h6> Специализация: нет </h6>
            {% endif %}

        </div>
    </div>

    <div class="card-footer text-body-secondary" style='background-color: #c8ecca'>
        Профессия: <a href="{{human_i.profession.get_absolute_url }}"> {{human_i.profession.title}} </a>
    </div>
</div>
<div class="card-header" style='color: blue; background-color: beige'>
    <h1 style='color: blue; text-align: center;'> Портфолио мастера: </h1>
    <p class="card-text"> {{human_i.Last_name}}</p>
</div>
{% endautoescape %}

<div class="popu">
    <div class="bubl">
        <div class="bublcontent">
            <div class="picter">
                <!-- <div class="x">
                    &times; 
                </div> -->
                <!-- <div class="img-big">
                    <img src="" alt="карт">
                </div> -->
                <div class="ramka-1"></div>
            </div>
        </div>
        <div class="bubl1"></div>
        <div class="bubl2"></div>
        <div class="bubl3"></div>
    </div>
</div><!-- /.popu -->
{% endblock %}
