<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid" style="background: #004d00; color: white;">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'Home' %}" style="color: white;">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Add_review' %}" style="color: white;">Добавить отзыв</a>
                </li>
            </ul>
        </div>
        <div class="logotip">
            <!-- {% for i in human_2 %}
            {% if i.id == 42 %} -->
            <span class="badge" style='background-color: white;'>
                <img src="/D:/sinergia/media/add/title/women.avif" onerror="this.onerror=null; this.src='/D:/sinergia/media/add/title/women.webp';" class="mr-3" width="25" alt="Женские стрижки">
            </span>
            <!-- {% endif %}
            {% endfor %} -->
            <div class="nav-item">
                <div class="i_anim" style="margin-left: 10px; font-size: 20pt; color: white;">Стрижки <div id="boxx" class="boxx">&</div> маникюр</div>
            </div>
            <!-- {% for i in human_2 %}
            {% if i.id == 35 %} -->
            <span class="badge" style='background-color: white; margin-left: 10px;'>
                <img src="/D:/sinergia/media/add/title/men.avif" onerror="this.onerror=null; this.src='/D:/sinergia/media/add/title/men.webp';" class="mr-3" width="35" alt="Мужские стрижки">
            </span>
            <!-- {% endif %}
            {% endfor %} -->
        </div>
    </div>
    <div class="tail">
        <span class="navbar-text" style="width: 300px; display: flex; background: #004d00; color: white;">
            {% if request.user.is_authenticated %}
                <a rel="nofollow" class="nav-link" href="{% url 'admin:index' %}" style="color: white; padding-right: 10px">Admin:</a>
            <a rel="nofollow" style="color: white; padding-right: 10px"> Привет, {{ user.username|title }}! </a> | <a href="{% url 'Logout' %}" style="color: red; padding-left: 10px">Выйти</a>
            {% else %}
            <a href="{% url 'Register' %}" style="padding-right: 5px; color: white;">Регистрация</a>  |  <a href="{% url 'Login' %}" style="padding-left: 5px; color: white;">Логин</a>
            {% endif %}
        </span>
    </div> 
</nav>
