{% load human_tags %}


<div class="list-group" style='background-color: #c8ecca;'>
<!--    {% get_list_profession as professions %}-->
<!--    {% for prof in professions %}-->
<!--        <a href="{% url 'Profession' prof.id %}" class="list-group-item list-group-item-action">{{ prof.title }}-->
<!--        <span class="badge bg-primary rounded-pill" style="width:30px; color:white;">{{ prof.cnt }}</span></a>-->
<!--    {% endfor %}-->
        {% show_professions %}
</div>

<!--<iframe src="https://volosomanjaki.com/strizhka-i-ukladka-volos/korotkie-muzhskie-strizhki-foto-modnyx-i-stilnyx-strizhek/#gallery-4" width="416" height="450" style="margin-top: 20px;"></iframe>-->


