{% load human_tags %}


<div class="list-group" style='background-color: #eed815'>
<!--    {% get_list_profession as professions %}-->
<!--    {% for prof in professions %}-->
<!--        <a href="{% url 'Profession' prof.id %}" class="list-group-item list-group-item-action">{{ prof.title }}-->
<!--        <span class="badge bg-primary rounded-pill" style="width:30px; color:white;">{{ prof.cnt }}</span></a>-->
<!--    {% endfor %}-->
        {% show_professions %}
</div>
<iframe src="https://www.google.com/maps/d/embed?mid=11oYve_Th26AQAqjRHuipZvm08REVax0&ehbc=2E312F" width="416" height="480" style="margin-top: 20px;"></iframe>
{% for i in human_2 %}
{% if i.id == 31 %}
<span class="badge rounded-pill" style='background-color: #cc0066; margin-top: 20px; margin-left: 180px;'>
<img src="{{i.photo.url}}" class="mr-3" width="60" alt="Photo">
</span>
{% endif %}
{% endfor %}
<h1 style='background-color: #eed815; margin-top: 20px; color: #e6005c'> &#9986; &nbsp; Наш телефон: &#9986;</h1>
<a href="tel:+79186436058" style='color: blue;'><h5> +7(918)-643-60-58 </h5> </a>
<div class="list">
        <h5 style='color: blue;'> Работаем по предворительной записи </h5>
</div>
<h1 style='background-color: #eed815; margin-top: 20px; color: #e6005c;'>&#9986; &nbsp; Наш адрес: &nbsp;&nbsp;&nbsp; &#x2702;</h1>
<h5 style='color: blue'>г. Анапа, ул Ленина, д.195, 3 подъезд, цоколь (вход со двора) </h5>
<iframe src="https://volosomanjaki.com/strizhka-i-ukladka-volos/korotkie-muzhskie-strizhki-foto-modnyx-i-stilnyx-strizhek/#gallery-4" width="416" height="450" style="margin-top: 20px;"></iframe>


